<div class="content-wrapper">
    <!-- Content -->
    <div class="container-xxl flex-grow-1 container-p-y">
        <div class="card card px-3">
            <h5 class="card-title text-primary">agent-base</h5>
            <div class="row mb-2"> 
                <div class="col-md-3 mb-0">
                    <label for="emailBasic" class="form-label">NAME OF PARTNER</label>
                     <input type="text" id="" required="" class="form-control" placeholder=" " name="name">
                </div>
                <div class="col-md-3 mb-0">
                    <label for="emailBasic" class="form-label">LOCATION</label>
                     <input type="text" id="" required="" class="form-control" placeholder=" " name="agent">
                </div>
                <div class="col-md-3 mb-0">
                    <label for="emailBasic" class="form-label">CONTACT NO</label>
                     <input type="text" id="" required="" class="form-control" placeholder=" " name="no">
                </div>
                <div class="col-md-3 mb-0">
                    <label for="emailBasic" class="form-label">EMAIL ADDRESS</label>
                     <input type="text" id="" required="" class="form-control" placeholder=" " name="email">
                </div>
                <div class="col-md-3 mb-0">
                    <label for="emailBasic" class="form-label">EXPECTED GIC'S (300+ ANNUAL)</label>
                     <input type="text" id="" required="" class="form-control" placeholder=" " name="location">
                </div>
                <div class="col-md-3 mb-0">
                    <label for="emailBasic" class="form-label">MEETING DONE</label>
                     <input type="text" id="" required="" class="form-control" placeholder=" " name="amount">
                </div>
                <div class="col-md-3 mb-0">
                    <label for="emailBasic" class="form-label">CANADA %</label>
                     <input type="text" id="" required="" class="form-control" placeholder=" " name="name">
                </div>  
                <div class="col-md-3 mb-0">
                    <label for="emailBasic" class="form-label">B2B/ B2C/ BOTH</label>
                    <input type="text" id="" required="" class="form-control" placeholder=" " name="name">
                </div>    
                <div class="buttonq my-2">
                    <button class="btn btn-primary">submit</button>
                </div>
            </div>
        </div>
    </div>
</div>

    <!-- Button trigger modal -->
    
                
    <div id="_pdf" class=""></div>

