<div class="content-wrapper">
            <!-- Content -->

            <div class="container-xxl flex-grow-1 container-p-y">
              
               <div class="row mb-2"> 
<!--<div class="col-md-3">-->
<!--         <label>Search</label>-->
<!--           <div class="input-group input-group-merge">-->
<!--          <span class="input-group-text" id=""><i class="bx bx-search"></i></span>-->
<!--          <input type="text" name="searchOrganization" id="searchOrganization" class="form-control" placeholder="Search By ID,Phone,Organization " aria-label="Search..." aria-describedby="basic-addon-search31">-->
<!--           </div>-->
<!--           </div>-->
   
   
   
   <div class="col-md-3">   
             <label for="date-range">Date-Range</label>
    <input type="date" class="form-control" id="date-range" placeholder="" name="date-range">
                 </div>
   
   
   
   <!--<div class="col-md-3">   -->
   <!--         <label for="sale-manager">Sale-Manager</label>-->
   <!-- <select class="form-select" id="sale-manager" name="salemanager1">-->
   <!--   <option>1</option>-->
   <!--   <option>2</option>-->
   <!--   <option>3</option>-->
   <!--   <option>4</option>-->
   <!-- </select>-->
   <!--</div>-->
   
   
   <div class="col-md-9 mt-4">

   </div>
              </div>         
          
<div class="card p-3">

  <div class="table-responsive text-nowrap">
    <table class="table">
     <thead>
     <tr>
     <th style="width: 30%">Name of Partner</th>			  	 		
     <th>Location</th>
     <th>Contact No</th>
     <th>Email Address</th>
     <th>Expected  GIC'S (300+ Annual)</th>
     <th>Meeting Done</th>
     <th>Canada %</th>
     <th>B2B/ B2C/ Both</th>
     </tr>
     
     </thead>
      <tbody>
          <tr>
        <td>...</td>
        <td>...</td>      
        <td>...</td>
        <td>...</td>
        <td>...</td>
        <td>...</td>
        <td>...</td>
        <td>...</td>

      </tr>
      
      <tr>
        <td>...</td>
        <td>...</td>      
        <td>...</td>
        <td>...</td>
        <td>...</td>
        <td>...</td>
        <td>...</td>
        <td>...</td>

      </tr>
      
      <tr>
        <td>...</td>
        <td>...</td>      
        <td>...</td>
        <td>...</td>
        <td>...</td>
        <td>...</td>
        <td>...</td>
        <td>...</td>

      </tr>
          
      </tbody>
    </table>
  </div>
  
</div>
</div>
</div>

                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModal1Label" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">DSR Details</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      
      <div class="modal-body">
           
          <div class="row"> 
        <div class="col-md-8 mb-0">
    <label for="exampleInputOrganization" class="form-label">Organization</label>
    <input type="text" class="form-control form-control-sm bg-light" id="exampleInputOrganization" aria-describedby="organizationHelp" placeholder="">
  </div>
     
        <div class="col-md-4 mb-0">
    <label for="exampleInputNumberofGIC" class="form-label">Number Of GIC(S)</label>
    <input type="text" class="form-control form-control-sm bg-light" id="exampleInputNumberofGIC" aria-describedby="numberofgicHelp" placeholder=" ">
   </div>
      
        <div class="col-md-4 mb-0">
    <label for="exampleInputgic" class="form-label">GIC Reward	</label>
    <input type="text" class="form-control form-control-sm bg-light" id="exampleInputgic" aria-describedby="gicHelp" placeholder=" ">
   </div>

        <div class="col-md-4 mb-0">
    <label for="exampleInputCredit" class="form-label">Credit Card</label>
    <input type="text" class="form-control form-control-sm bg-light" id="exampleInputCredit" aria-describedby="creditHelp" placeholder=" ">
   </div>
    
        <div class="col-md-4 mb-0">
    <label for="exampleInputLoan" class="form-label">Loan</label>
    <input type="text" class="form-control form-control-sm bg-light" id="exampleInputLoan" aria-describedby="loanHelp" placeholder=" ">
   </div>
      
      <div class="col-md-4 mb-0">
    <label for="exampleInputforex" class="form-label">Forex</label>
    <input type="text" class="form-control form-control-sm bg-light" id="exampleInputforex" aria-describedby="forexHelp" placeholder=" ">
   </div>
   
   <div class="col-md-4 mb-0">
    <label for="exampleInputservices" class="form-label">Other Services	</label>
    <input type="text" class="form-control form-control-sm bg-light" id="exampleInputservices" aria-describedby="servicesHelp" placeholder=" ">
   </div>
   
   <div class="col-md-4 mb-0">
    <label for="exampleInputSIM" class="form-label">SIM</label>
    <input type="text" class="form-control form-control-sm bg-light" id="exampleInputSIM" aria-describedby="SIMHelp" placeholder=" ">
   </div>
   
   <div class="col-md-4 mb-0">
    <label for="exampleInputMeeting" class="form-label">Meeting</label>
    <input type="text" class="form-control form-control-sm bg-light" id="exampleInputMeeting" aria-describedby="meetingHelp" placeholder=" ">
   </div>
   
   <div class="col-md-4 mb-0">
    <label for="exampleInputcontract" class="form-label">Contract</label>
    <input type="text" class="form-control form-control-sm bg-light" id="exampleInputcontract" aria-describedby="contractHelp" placeholder=" ">
   </div>
   
   <div class="col-md-4 mb-0">
   <label for="trainsched" class="form-label">Training Schedule</label>
    <select class="form-select form-select-sm bg-light" id="trainsechedule" name="trainsched">
      <option>Yes</option>
      <option>No</option>
    </select>
   </div>
   
   <div class="col-md-12 mb-0">
    <label for="remarks" class="form-label">Remarks</label>
    <textarea class="form-control bg-light" rows="2" id="remarks" name="text"></textarea>
   </div>
    </div>
      
    </div>
    
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary">Save</button>
      </div>
    </div>
  </div>
 </div>

                     <!-- Button trigger modal -->
          
                                    
                 <div id="_pdf" class=""></div>

