<div class="content-wrapper">
            <!-- Content -->

            <div class="container-xxl flex-grow-1 container-p-y">
       
            <div class="row py-2"> 
             
             <div class="col-md-6">   
              <h4 class="fw-bold"><span class="text-muted fw-light">All Notification 
               </span></h4>

              </div>
              </div>


       <div class="card"> 
       
                <ul class="list-group list-group-flush">
                  
               
                  <li class="list-group-item list-group-item-action dropdown-notifications-item">
                    <div class="d-flex">
                      <div class="flex-shrink-0 me-3">
                        <div class="avatar">
                          <span class="avatar-initial rounded-circle bg-label-success"><i class="bx bx-cart"></i></span>
                        </div>
                      </div>
                      <div class="flex-grow-1">
                        <h6 class="mb-1">Whoo! You have new order </h6>
                        <p class="mb-0">ACME Inc. made new order $1,154</p>
                        <small class="text-muted">1 day ago</small>
                      </div>
                      <div class="flex-shrink-0 dropdown-notifications-actions">
                      <a href="javascript:void(0)" alt="View" class="dropdown-notifications-archive"><span class="bx bx-info-square fs-4"></span></a>
                       <a href="javascript:void(0)" alt="Remove" class="dropdown-notifications-archive"><span class="bx bx-trash-alt fs-4"></span></a>
                     </div>
                    </div>
                  </li>
                
                  <li class="list-group-item list-group-item-action dropdown-notifications-item marked-as-read">
                    <div class="d-flex">
                      <div class="flex-shrink-0 me-3">
                        <div class="avatar">
                          <span class="avatar-initial rounded-circle bg-label-success"><i class="bx bx-pie-chart-alt"></i></span>
                        </div>
                      </div>
                      <div class="flex-grow-1">
                        <h6 class="mb-1">Monthly report is generated</h6>
                        <p class="mb-0">July monthly financial report is generated </p>
                        <small class="text-muted">3 days ago</small>
                      </div>
                      <div class="flex-shrink-0 dropdown-notifications-actions">
                      <a href="javascript:void(0)" alt="View" class="dropdown-notifications-archive"><span class="bx bx-info-square fs-4"></span></a>
                       <a href="javascript:void(0)" alt="Remove" class="dropdown-notifications-archive"><span class="bx bx-trash-alt fs-4"></span></a>
                      </div>
                    </div>
                  </li>
                </ul>
            
            </div>
            </div>
            
              </div>