<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.6/index.global.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@fullcalendar/bootstrap5@6.1.6/index.global.min.js"></script>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css"
/>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    var calendarEl = document.getElementById("calendar");
    
    var calendar = new FullCalendar.Calendar(calendarEl, {
      timeZone: "GMT",
      themeSystem: "bootstrap5",
      headerToolbar: {
        left: "prev,next today",
        center: "title",
        right: "dayGridMonth,timeGridWeek,timeGridDay,listMonth",
      },
      weekNumbers: true,
      dayMaxEvents: true,
      // events: "/server/calendar.php",
      eventSources: [
        {
          url: "/server/",
          method: "POST",
          extraParams: {
            _action: "get_calendar",
            payload: "calendar",
          },
          failure: function () {
            alert('Failed to fetch events');
          },
        },
      ],
    });

    calendar.render();
  });
</script>

<div class="content-wrapper">
  <!-- Content -->
  <div class="container-xxl flex-grow-1 container-p-y">
    <div class="card p-3">
      <div id="calendar"></div>
    </div>
  </div>
</div>
