<div class="content-wrapper">
            <!-- Content -->

            <div class="container-xxl flex-grow-1 container-p-y">
              
               <div class="row mb-2"> 
<!--<div class="col-md-3">-->
<!--         <label>Search</label>-->
<!--           <div class="input-group input-group-merge">-->
<!--          <span class="input-group-text" id=""><i class="bx bx-search"></i></span>-->
<!--          <input type="text" name="searchOrganization" id="searchOrganization" class="form-control" placeholder="Search By ID,Phone,Organization " aria-label="Search..." aria-describedby="basic-addon-search31">-->
<!--           </div>-->
<!--           </div>-->
   
<!--<div class="col-md-3">   -->
<!--         <label for="sale-manager">Sale-Manager</label>-->
<!-- <select class="form-select" id="sale-manager" name="salemanager1">-->
<!--   <option>1</option>-->
<!--   <option>2</option>-->
<!--   <option>3</option>-->
<!--   <option>4</option>-->
<!-- </select>-->
<!--</div>-->
   
              </div>         
          
<div class="card">

  <div class="table-responsive text-nowrap">
     <table class="table">
        
     <thead>
     <tr>
     <th style="width:30%">COMPANY NAME</th>
     <th>CONTACT PERSON</th>
     <th>PHONE NO.</th>
     <th>STATUS</th>
     <th>SUB-STATUS</th>
     <th>DATE & TIME</th>
     <th>RECORDING</th>
     <th>TRAINER</th>
     <th>SALE-MANAGER</th>
     </tr>
     </thead>
     
      <tbody>
          
      <tr>
        <td>...</td>
        <td>...</td>
        <td>...</td>      
        <td>...</td>
        <td>...</td>
        <td>...</td>
        <td>...</td>
        <td>...</td>
        <td>...</td>
      </tr>
      
      <tr>     
        <td>...</td>
        <td>...</td>
        <td>...</td>
        <td>...</td>
        <td>...</td>
        <td>...</td>
        <td>...</td>
        <td>...</td>
        <td>...</td>
      </tr>
      
      <tr>
        <td>...</td>
        <td>...</td>
        <td>...</td>
        <td>...</td>
        <td>...</td>
        <td>...</td>
        <td>...</td>
        <td>...</td>
        <td>...</td>
      </tr>
          
      </tbody>
    </table>
  </div>

</div>
</div>
</div>
                         
                 <div id="_pdf" class=""></div>
