<html
   lang="en"
   class="light-style customizer-hide"
   dir="ltr"
   data-theme="theme-default"
   data-assets-path="../assets/"
   data-template="vertical-menu-template-free"
   >
   <head>
      <meta charset="utf-8" />
      <meta
         name="viewport"
         content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
         />
      <title>B2B Panel</title>
      <meta name="description" content="" />
      <!-- Favicon -->
     
      <!-- Fonts -->
      <link rel="preconnect" href="https://fonts.googleapis.com" />
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
      <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet" />
      <!-- Icons. Uncomment required icon fonts -->
      <link rel="stylesheet" href="/b2b/assets/vendor/fonts/boxicons.css" />
      <!-- Core CSS -->
      <link rel="stylesheet" href="/b2b/assets/vendor/css/core.css" class="template-customizer-core-css" />
      <link rel="stylesheet" href="/b2b/assets/vendor/css/theme-default.css" class="template-customizer-theme-css" />
      <link rel="stylesheet" href="/b2b/assets/css/demo.css" />
      <link rel="stylesheet" href="/b2b/assets/css/toastr.min.css" />
      <!-- Vendors CSS -->
      <link rel="stylesheet" href="/b2b/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />
      <!-- Page CSS -->
      <!-- Page -->
      <link rel="stylesheet" href="/b2b/assets/vendor/css/pages/page-auth.css" />
      <!-- Helpers -->
      <script src="/b2b/assets/vendor/js/helpers.js"></script>
      <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
      <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
      <script src="/b2b/assets/js/config.js"></script>
   </head>
   <body>
      <!-- Content -->
      <div class="container-xxl">
         <div class="authentication-wrapper authentication-basic container-p-y">
            <div class="authentication-inner">
               <!-- Register -->
               <div class="card">
                  <div class="card-body">
                     <!-- Logo -->
                     <div class="app-brand justify-content-center">
                        <a href="/" class="app-brand-link gap-2 mt-3">
                        <span class="app-brand-logo demo" >
                        <img src="https://innerxcrm.com/website/assets/images/logo.png" style="    width: 181px;" >
                        </span>
                        </a>
                     </div>
                     <!-- /Logo -->
                     <h4 class="mb-2 text-center">Welcome To B2B Panel</h4>
                     <p class="mb-4 text-center">Please sign-in to your B2B account </p>
                     <form id="_login_form" class="mb-3"  method="POST">
                        <div class="col-md text-center">
                           
                           <div class="form-check form-check-inline mt-3">
                             <input class="form-check-input" type="radio" name="inlineRadioOptions"  id="inlineRadio1" checked name="user" value="admin">
                             <label class="form-check-label" for="inlineRadio1">Admin</label>
                           </div>
                           <div class="form-check form-check-inline">
                             <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" name="user" value="member">
                             <label class="form-check-label" for="inlineRadio2">Member</label>
                           </div>
                         
                         </div>
                       
                        <div class="mb-3"> 
                           <label for="email" class="form-label">Email or Username</label> 
                           <input type="text" class="form-control" id="email" name="username" placeholder="Enter your email or username" autofocus />
                        </div>
                        <div class="mb-3 form-password-toggle">
                           <div class="d-flex justify-content-between">
                              <label class="form-label" for="password">Password</label> 
                           </div>
                           <div class="input-group input-group-merge">
                              <input type="password" id="password" class="form-control" name="password" placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;" aria-describedby="password"
                                 />
                              <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                           </div>
                        </div>
                        <div class="mb-3">
                           <button  class="btn btn-primary d-grid w-100" type="submit">Sign in</button>
                        </div>
                     </form>
                     <p class="text-center">New Here? <a href="/b2b/register">Create New Account</a></p>
                  </div>
               </div>
               <!-- /Register -->
            </div>
         </div>
      </div>
      <!-- / Content -->
      <!-- Core JS -->
      <!-- build:js assets/vendor/js/core.js -->
      <script src="/b2b/assets/vendor/libs/jquery/jquery.js"></script>
      <script src="/b2b/controller/chunk.js"></script>
      <script src="/b2b/assets/vendor/libs/popper/popper.js"></script>
      <script src="/b2b/assets/vendor/js/bootstrap.js"></script>
      <script src="/b2b/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
      <script src="/b2b/assets/vendor/js/menu.js"></script>
      <!-- endbuild -->
      <!-- Vendors JS -->
      <!-- Main JS -->
      <script src="/b2b/assets/js/main.js"></script>
      <script src="/b2b/assets/js/toastr.min.js"></script>
      <script src="/b2b/assets/js/toastr-init.js"></script>
      <!-- Page JS -->
      <script async defer src="https://buttons.github.io/buttons.js"></script>
   </body>
</html>