<div class="content-wrapper">
   <!-- Content -->

   <div class="container-xxl flex-grow-1 container-p-y">
      <form id="filterStudents" onsubmit="runFilter(event)">
         <div class="row d-inline-block mb-2">
            <div class="w-auto d-inline-block mb-2">
               <label>Month</label>
               <select class="form-select w-auto" id="filterMonth">
                  <option value="">Select</option>
                  <option value="01">Jan</option>
                  <option value="02">Feb</option>
                  <option value="03">Mar</option>
                  <option value="04">Apr</option>
                  <option value="05">May</option>
                  <option value="06">Jun</option>
                  <option value="07">Jul</option>
                  <option value="08">Aug</option>
                  <option value="09">Sep</option>
                  <option value="10">Oct</option>
                  <option value="11">Nov</option>
                  <option value="12">Dec</option>
               </select>
            </div>
            <div class="w-auto d-inline-block mb-2">
               <label>Year</label>
               <select class="form-select w-auto" id="filterYear">
                  <option value="" >Select</option>
                  <option>2021</option>
                  <option>2022</option>
                  <option>2023</option>
                  <option>2024</option>
                  <option>2025</option>
                  <option>2026</option>
                  <option>2027</option>
                  <option>2028</option>
               </select>
            </div>
            <div class="w-auto d-inline-block mt-2">
               <button type="submit"  class="btn btn-primary">Apply Filters </button>
               <button type="button" class="btn btn-secondary">Reset </button>
            </div>
         </div>
      </form>

      <div class="card">

         <div class="table-responsive text-nowrap">
            <table class="table">
               <thead>
                  <tr>
                     <th>Organisation</th>
                     <th>GIC</th>
                     <th>Forex</th>
                     <th>Credit Card </th>
                     <th>SIM </th>
                     <th>Loan </th>
                     <th>Insurance </th>
                     <th>Status </th>
                  </tr>

               </thead>
               <tbody>
               </tbody>
            </table>
            <div id="pagination"></div>
         </div>

      </div>

   </div>

</div>