<div class="content-wrapper">
  <div class="container-xxl flex-grow-1 container-p-y">
    <div class="row mb-2">
      <div class="col-lg-3">
        <h4>Payments</h4>
      </div>
    </div>
    <div class="row mb-2">
      <div class="w-auto d-inline-block mt-2 py-2">
        <button type="button" class="btn btn-primary btn-sm" id="export">Export</button>
      </div>
    </div>
    <div class="card">
      <div class="table-responsive text-nowrap">
        <table class="table" id="paymentsTable">
          <thead>
            <tr>
              <th>Sr No.</th>
              <th style="width: 30%">Organization</th>
              <th>Joining Date</th>
              <th>Contact Person </th>
              <th>Contact Phone</th>
              <th>Marketing Manager </th>
              <th>Support </th>
              <th>Plan</th>
              <th>Package Amount</th>
              <th>Discount</th>
              <th>Amount Paid</th>
              <th>Reciept</th>
              <th>Start Date</th>
              <th>Renewal Date</th>
              <th>Remarks</th>
              <th>Payment Type </th>
            </tr>
          </thead>
          <tbody id="paymentsBody">
            <tr>
              <th colspan="10">Loading...</th>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div id="_pdf" class=""></div>