<div class="content-wrapper">
            <!-- Content -->

            <div class="container-xxl flex-grow-1 container-p-y">
              
               <div class="row mb-2"> 





<div class="col-md-12">
			<h5>Registration Pricing</h5>
</div>			
				
 <form id="organization_form ">
 <div class="row p-3">
 <div class="col-md-6 mb-4">
<label for="title" class="form-label mb-0">Title</label>
    <input type="text" class="form-control" id="title" placeholder="Enter here" name="title"> 
</div>



<div class="col-md-6 mb-4">
<label for="price" class="form-label mb-0">Price</label>
    <input type="text" class="form-control" id="price" placeholder="Enter price" name="price">
</div>


<div class="col-md-6 mb-4">
<label for="maximum_discount" class="form-label mb-0">Maximum Discount</label>
    <input type="text" class="form-control" id="maximum_discount" placeholder="Enter here" name="maximum-discount">
</div>
 
 
 
<div class="col-md-6 mb-4">
<label for="description">Description</label>
<textarea class="form-control" rows="2" id="description" name="description" placeholder="Enter here" ></textarea>
</div>

<div class="col-md-12 text-end mt-3">
<a href="" class="btn btn-sm btn-primary px-3 py-2">Save</a>
</div>



 </div>
</form>
  
</div>
</div>
</div>

                                    
