<div class="content-wrapper">
  <!-- Content -->

  <div class="container-xxl flex-grow-1 container-p-y">
    <div class="row mb-2">
      <div class="col-lg-3">
        <h4>Renewals</h4>
      </div>
    </div>
    <div>
      <div class="row">
        <form id="fitlerRenewals">
          <div class="w-auto d-inline-block mb-2 d-none filters">
             <label>Marketing</label>
             <select class="form-select" id="managerFilter" name="contract" aria-label="">
             </select>
          </div>
          <div class="w-auto d-inline-block mb-2 d-none filters">
             <label>Support</label>
             <select class="form-select" id="trainerFilter" name="contract" aria-label="">
             </select>
          </div>
          <div class="w-auto d-inline-block mt-2 d-none filters">
             <button type="button" class="btn btn-primary" id="applyFilters">
                <div class="spinner-border spinner-border-sm d-none" style="text:white;" role="status" id="filterSpinner"></div><span id="applyFilterBtn">Filter</span>
             </button>
             <button type="button" class="btn btn-dark" id="resetFilters">Reset </button>
          </div>
          <div class="w-auto d-inline-block mt-2 py-2">
            <button type="button" class="btn btn-primary" id="export">Export</button>
          </div>
       </form>
      </div>
    </div>
    <div class="card">
      <div class="table-responsive text-nowrap">
        <table class="table" id="renewalsDataTable">
          <thead>
            <tr>
              <th>Sr No</th>
              <th style="width: 30%">Organization</th>
              <th>Contact Person </th>
              <th>Contact Phone</th>
              <th>Marketing Manager </th>
              <th>Support </th>
              <th>Plan</th>
              <th>Plan Renewal</th>
              <th>Payment Type </th>
              <th>Joining Date</th>
            </tr>
          </thead>
          <tbody id="renewalDueBody">
            <tr>
              <th aria-colspan="9">Loading..</th>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>

<div id="_pdf" class=""></div>