<div class="content-wrapper">
            <!-- Content -->

            <div class="container-xxl flex-grow-1 container-p-y">
              <div class="row"> 
             
             <div class="col-md-6">   
              <h4 class="fw-bold  mb-2"><span class="text-muted fw-light">Assign Support Tickets  - <b >29</b></span></h4>

              </div>
              

          <div class="col-md-6">  
 
                
            </div>
            

 <form id="filterAgreement">


            <div class="my-3 d-inline-block gx-2 row">

               <div class="w-auto d-inline-block mb-2">
                  <label>Search</label>
                  <div class="input-group input-group-merge">
                     <span class="input-group-text" id=""><i class="bx bx-search"></i></span>
                     <input type="text" name="searchOrganization" id="searchOrganization" class="form-control" placeholder="Search By ID,Phone,Organization " aria-label="Search..." aria-describedby="basic-addon-search31">
                  </div>
               </div>

               <div class="w-auto d-inline-block mb-2">
                  <label>Select Date Range :</label>
          <input type="text" class="form-control" name="daterange" value="01/01/2018 - 01/15/2018" readonly="">
               </div>

<div class="w-auto d-inline-block mb-2">
 <label>Status </label>
                        <select class="form-select" name="" aria-label="">
                           <option value="">Open </option>
                           <option value="">Reopen</option>
                            <option value="">Close</option>
                        </select>
                        </div>

<div class="w-auto d-inline-block mb-2">
<label>Assigned</label>
                        <select class="form-select" name="" aria-label="">
                           <option value=""> Name 1  </option>
                           <option value=""> Name 2 </option>
                           <option value=""> Name 3  </option>
                        </select>
</div>

               <div class="w-auto d-inline-block mt-2">
                  <button type="button" class="btn btn-primary">Apply Filters </button>

                  <button type="button" class="btn btn-secondary">Reset </button>
                  
                    <button type="button" class="btn btn-outline-secondary" >Cancel</button>
               </div>
            </div>

         </form>
       
     
                         </div>
              
          
<div class="card">

  <div class="table-responsive text-nowrap">
    <table class="table">
     <thead>
     <tr>
    <th>ISSUE SUBJECT</th>
    <th>BUSINESS NAME</th>
    <th>NAME OF PERSON</th>
     <th>PHONE</th> 
     <th>EMAIL ID</th>
     <th>DESCRIPTION</th>
     <th>Attachment</th>
     <th>Assign TO</th>
     <th>Priority</th>
     <th>Status</th>
     </tr>
     </thead>
      <tbody>
          <tr>
        <td>...</td>
        <td>...</td>
        <td>...</td>
        <td>...</td>
        <td>...</td>
        <td>...</td>
       <td><button type="button" class="btn btn-primary btn-sm float-end mx-3" >
                  View
                </button></td>
          <td>
          <select class="form-select form-select-sm" name="usertype" aria-label="">
          <option value="">Assign</option>
           <option value="">Name </option>
           <option value="">Name2</option>
           </select>
          </td>
          
          <td>
          <select class="form-select form-select-sm" name="usertype" aria-label="">
          <option value="">Task Priority</option>
           <option value="">High (10 Days) </option>
           <option value="">Medium (5 Days)</option>
           <option value="">Low (2 Days)</option>
          </select>
          </td>
          
          <td>
          <select class="form-select form-select-sm" name="" aria-label="">
          <option value="">Status</option>
           <option value="">New </option>
           <option value="">Reopen</option>
           <option value="">Closed</option>
          </select>
          </td>
          
           <td>
              <button type="button" class="btn btn-primary btn-sm float-end mx-1" >
                  Assign
                </button> 
                </td>
          
          
      </tr>
     
      </tbody>
    </table>
  </div>


</div>
</div>
</div>

   
                  

                   







     